# Data and model artifacts
/data/
/mlruns/
*.pkl
*.joblib
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.env
# Local development
.venv/
.pytest_cache/
.DS_Store

# Generated model artifacts
/model_artifacts/
/mlartifacts/
mlflow.db